.tour-stats .stat {
    float: left;
    width: 33.3333%;
}

@media (max-width: 992px) {
    .tour-stats .stat {
        float: none;
        width: 100%;
    }
}

.tour-box {
    background-color: #daeaf2;
}

.tour-menu {
    background-color: linen;
}

.tour-menu-table {
    padding: 10px;
}

.tour-menu-group-heading {
    color: white;
    background-color: salmon;
    font-size: 24px;
    padding: 10px;
}

.tour-menu-item-name {
    font-size: 18px;
    font-weight: bold;
    float: left;
    padding: 10px;
}

.tour-menu-item-price {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    float: right;
    width: 10%;
    padding: 10px;
}

@media (max-width: 992px) {
    .tour-menu-item-price {
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        float: right;
        width: 20%;
        padding: 10px;
    }
}

    .tour-menu-item-desc {
        font-size: 12px;
        float: left;
        padding: 15px;
    }

    .tour-menu-image {
        width: 150px;
        height: 75px;
    }
